
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.nav-item .nav-link{
    color: white;
    transition: 0.5 ease;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.nav-item .nav-link:hover{
     color: black;
}
.A{
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 119px;
    margin-left: 5px;
    margin-top: 3px;
}
.A:hover{
    color: white;
}
.B{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 3px;
}
.B:hover{
    color: white;
}

#footer{
    padding: 90px 0 60px 0px;
    margin-top: 100px;
    margin-left: -50px;
  }
  #footer .footer-top{
    padding: 60px 0 80px 0px;
    padding-left: 100px;
    height: 405px;
    margin: 0 0 -90px 0px;
    background-color: rgb(255, 191, 0);
    width: 1633px;
  }
  #footer .footer-top hr{
    margin-top: 590px;
  }